 // Bourbon, Neat, Refills
@import '../bower_components/bourbon/dist/bourbon';
//@import '_grid-setting.scss';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import '../bower_components/bitters/app/assets/stylesheets/base';

body {
  margin: 0;
}

.container {
  @include outer-container;
  max-width: 100%;

  header {
    @include span-columns(12);
    background: #000;

    .logo {
      @include span-columns(3);
      display: inline-block;
      height: 40px;
      outline: solid 1px #fff;
    }

    .login-buttons {
      @include span-columns(6);
      float: right;
      padding: rem(30);

      button {
        float: right;
        margin-left: rem(20);
      }
    }
  }

  .signup {
    height: 100vh;
    background-image: url("/images/photo_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .signup-button {
    @include span-columns(4);
    @include shift(4);
    padding: 0;
    margin-top: 20%;

    button {
      display: inline-block;
    }

    .freelance-signup {
      float: right;
    }
  }
}

.wrapper {
  @include outer-container;
}

.avatar {
  @include span-columns(2);
  height: rem(150);
  background: #eee;
}

.bio {
  @include span-columns(8);

  textarea {
    height: rem(125);
    resize: none;
  }
}

.hourly-rate {
  @include span-columns(2);
  display: inline-block;
  margin: 0;
}

.portfolio {
  @include span-columns(12);

  .p-item {
    @include span-columns(2);
    background: #eee;
    height: rem(150);
    margin-top: rem(10);
  }
}
