 // Bourbon, Neat, Refills
@import '../bower_components/bourbon/dist/bourbon';
//@import '_grid-setting.scss';
@import '../bower_components/neat/app/assets/stylesheets/neat';
@import '../bower_components/bitters/app/assets/stylesheets/base';

body {
  margin: 0;
}

.container {
  @include outer-container;
  max-width: 100%;

  header {
    @include span-columns(12);
    position: fixed;
    z-index: 1000;
    background: #000;

    .logo {
      @include span-columns(3);
      display: inline-block;
      height: 40px;
      outline: solid 1px #fff;
    }

    .login-buttons {
      @include span-columns(6);
      float: right;
      padding: rem(30);

      button {
        float: right;
        margin-left: rem(20);
      }
    }
  }

  .signup {
    height: 100vh;
    text-align: center;
    background-image: url("/images/photo_2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  .signup-button {
    @include span-columns(4);
    @include shift(4);
    padding: 0;
    margin-top: 20%;

    .client-signup {
      float: left;
    }

    .freelance-signup {
      float: right;
    }
  }

  .info {
    height: rem(400);
    text-align: center;
    padding: rem(150) rem(100);
  }

  .steps {
    height: rem(400);
    text-align: center;
    color:#fff;
    padding: rem(150) rem(30);
    background-image: url("/images/photo_3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
  }

  .step {
    @include span-columns(4);
    display: inline-block;
  }

  footer {
    height: rem(200);
    background: #000;
    padding: rem(90) 0;

    .logo {
      @include span-columns(2);
      @include shift(5);
      height: 40px;
      outline: solid 1px #fff;
    }

    span {
      @include span-columns(2);
      @include shift(5);
      clear: both;
    }
  }
}

.freelance-profile {
  @include outer-container;
}

.profile-img {
  @include span-columns(8);
  @include shift(2);

  .avatar {
    @include span-columns(3);
    height: rem(150);
    background: #eee;
  }

  .profile-image-upload {
    @include span-columns(7);
  }

  .hourly-rate {
    @include span-columns(2);
    display: inline-block;
    margin: 0;
  }
}

.bio {
  @include span-columns(8);

  textarea {
    height: rem(125);
    resize: none;
  }
}

.portfolio {
  @include span-columns(12);

  .p-item {
    @include span-columns(2);
    background: #eee;
    height: rem(150);
    margin-top: rem(10);
  }
}

.saveProfile {
  @include span-columns(2);
  @include shift(5);
  margin-top: 2%;
}
